@use "Assets/dimensions.sass"
@use "Assets/colors.sass"

.popover
    position: absolute
    display: none
    background-color: colors.$background-primary
    border-radius: dimensions.$border-radius-large
    padding: 6px
    z-index: 30

    &Show
        display: block
