@use "Assets/colors.sass"
@use "Assets/dimensions.sass"
@use "Assets/fonts.sass"
@use "Assets/transitions.sass"

.button
    position: relative
    display: inline-block
    color: colors.$text-on-color
    background-color: colors.$accent
    padding: 8px 16px
    border-radius: dimensions.$border-radius
    cursor: pointer
    transition: transitions.$default
    user-select: none
    font-size: fonts.$size-normal
    box-shadow: rgba(0, 0, 0, 0.10) 0 3px 8px

    &:hover
        background-color: colors.$accent-hover
        box-shadow: rgba(0, 0, 0, 0.15) 0 5px 12px

    &Secondary
        background-color: transparent
        color: colors.$text-primary
        box-shadow: none

        &:hover
            box-shadow: none
            border-color: colors.$background-hover
            background-color: colors.$background-hover

    &OnlySymbol
        background-color: transparent
        color: colors.$text-primary
        box-shadow: none
        padding: 8px

        &:hover
            box-shadow: none
            border-color: colors.$background-hover
            background-color: colors.$background-hover

    &Sharp
        border-radius: 0

    &Disabled
        color: colors.$text-disabled
        cursor: not-allowed
