@use "Assets/colors.sass"
@use "Assets/dimensions.sass"

.item
    border-radius: dimensions.$border-radius
    padding: 9px 12px
    text-decoration: none
    color: inherit
    user-select: none
    white-space: nowrap

    &Selectable:hover
        background-color: colors.$background-hover

    &NoPadding
        padding: 0
