@use "Assets/colors.sass"
@use "Assets/transitions.sass"

.account
    text-align: right
    position: relative
    z-index: 10

.picture
    background-color: colors.$background-tertiary
    border-radius: 50%
    height: 32px
    width: 32px
    cursor: pointer
    border: 2px solid colors.$background-primary
    transition: transitions.$default
    user-select: none

    &:hover
        border: 2px solid colors.$background-hover

.logout
    color: colors.$text-red !important
