@use "Assets/colors.sass"
@use "Assets/transitions.sass"

.account
    text-align: right
    position: relative
    z-index: 10

.picture
    cursor: pointer
    border: 2px solid colors.$background-primary

    &:hover
        border: 2px solid colors.$background-hover
