@use "Assets/colors.sass"
@use "Assets/dimensions.sass"

.bar
    padding: dimensions.$page-vertical-padding dimensions.$page-horizontal-padding 20px
    background-color: colors.$background-primary
    z-index: 20

.title
    user-select: none
