.layout
    display: flex

    &Vertical
        flex-direction: column

    &Horizontal
        flex-direction: row

    &Left
        align-items: start

    &Center
        align-items: center

    &Right
        align-items: end

    &Stretch
        align-items: stretch
