@use "Assets/colors.sass"
@use "Assets/dimensions.sass"
@use "Assets/transitions.sass"

.navbar
    width: dimensions.$nav-bar-width
    flex-shrink: 0
    padding: calc(dimensions.$page-vertical-padding - 7px) calc(dimensions.$page-horizontal-padding - 16px)
    box-sizing: border-box
    background-color: colors.$background-primary
    transition: transitions.$default
    border-right: 1px solid colors.$background-secondary
    animation: appear transitions.$speed-default ease-in-out

.title
    padding: 11px
    margin-bottom: 14px

@keyframes appear
    from
        opacity: 0
        margin-left: -10px
        margin-right: 10px
    to
        opacity: 1
        margin-left: 0
        margin-right: 0
