@use "../../Assets/colors"
@use "../../Assets/dimensions"
@use "../../Assets/transitions"
@use "../../Assets/shadows"
@use "../../Assets/fonts"

$lineSize: 28px
$sideMargin: 16px
$promptMargin: 40px

.commandPrompt
    width: 100%
    height: 100%
    max-width: min(100vw - 2*$promptMargin, 800px)
    max-height: min(100vh - 2*$promptMargin, 400px)

    position: fixed
    top: calc(50% - min(100vh - 2*$promptMargin, 400px) / 2)
    left: calc(50% - min(100vw - 2*$promptMargin, 800px) / 2)
    z-index: 40

    border-radius: dimensions.$border-radius-large
    background-color: colors.$background-primary
    @include shadows.default-shadow()

    transform: scale(1, 0)
    transform-origin: center
    transition: transform 0.1s ease-in-out

    &.shown
        transform: scale(1, 1)

    .inputBar
        padding: $sideMargin
        border-bottom: solid 1px colors.$background-tertiary

        .inputField
            border: none
            margin-left: 8px
            width: 100%
            height: $lineSize
            font-size: calc(#{$lineSize} * 2/3)
            background-color: colors.$background-primary
            &:focus
                outline: none

    .commandElement
        padding: 0 $sideMargin
        height: calc($lineSize + 2 * $sideMargin)
        font-size: calc(#{$lineSize} * 2/3)

        &.selectedCommand
            background-color: colors.$accent
            color: colors.$background-primary

            .matchedCommandPart
                color: colors.$background-secondary !important
                border-bottom: solid 2px colors.$background-secondary

        &:hover:not(.selectedCommand)
            background-color: colors.$background-secondary

        .commandInfos
            display: block
            margin-left: 12px

            .commandName
                display: inline-block

                .matchedCommandPart
                    color: colors.$accent
                    font-weight: fonts.$weight-bold

            .commandTooltip
                font-size: calc(#{$lineSize} * 1/2)
                text-overflow: ellipsis
