@use "Assets/colors.sass"
@use "Assets/fonts.sass"

body
    font-family: fonts.$family-normal
    font-size: fonts.$size-normal

.light, .dark
    background-color: colors.$background-primary
    color: colors.$text-primary
