body
    --background-primary: #fafafa
    --background-secondary: #e8eaee
    --background-tertiary: #d6d9de

    --text-primary: #1f1f20
    --text-secondary: #37373a
    --text-tertiary: #696971

    --accent: #2d94bc

$background-primary: var(--background-primary)
$background-secondary: var(--background-secondary)
$background-tertiary: var(--background-tertiary)

$text-primary: var(--text-primary)
$text-secondary: var(--text-secondary)
$text-tertiary: var(--text-tertiary)

$accent: var(--accent)
