body
    --background-primary: #fafafa
    --background-secondary: #e8eaee
    --background-tertiary: #d6d9de

$background-primary: var(--background-primary)
$background-secondary: var(--background-secondary)
$background-tertiary: var(--background-tertiary)
