body
    --background-primary: #fafafa
    --background-secondary: #e8eaee
    --background-tertiary: #d6d9de

    --text-primary: #1f1f20
    --text-secondary: #37373a
    --text-tertiary: #696971

    --accent: #2d94bc

.dark
    --background-primary: #171818
    --background-secondary: #212123
    --background-tertiary: #3c3c3e

    --text-primary: #d2d2dc
    --text-secondary: #b1b1b9
    --text-tertiary: #85858f

    --accent: #2d94bc

$background-primary: var(--background-primary)
$background-secondary: var(--background-secondary)
$background-tertiary: var(--background-tertiary)

$text-primary: var(--text-primary)
$text-secondary: var(--text-secondary)
$text-tertiary: var(--text-tertiary)

$accent: var(--accent)
