body
    --nav-bar-width: 280px

    --border-radius: 6px
    --border-radius-large: 10px

    --page-horizontal-padding: 24px
    --page-vertical-padding: 24px

    --page-padding: var(--page-horizontal-padding) var(--page-vertical-padding)

$nav-bar-width: var(--nav-bar-width)

$border-radius: var(--border-radius)
$border-radius-large: var(--border-radius-large)

$page-horizontal-padding: var(--page-horizontal-padding)
$page-vertical-padding: var(--page-vertical-padding)

$page-padding: var(--page-padding)
