@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@1&display=swap')
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Round')

body
    --font-family-normal: 'Rubik', sans-serif

    --weight-normal: 400
    --weight-bold: 500

    --size-normal: 16px
    --size-logo: 22px
    --size-title: 22px
    --size-subtitle: 17px

$family-normal: var(--font-family-normal)

$weight-normal: var(--weight-normal)
$weight-bold: var(--weight-bold)

$size-normal: var(--size-normal)
$size-logo: var(--size-logo)
$size-title: var(--size-title)
$size-subtitle: var(--size-subtitle)
