@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@1&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded')
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap')

body
    --font-family-normal: 'Rubik', sans-serif
    --font-family-logo: 'Fredoka', sans-serif

    --weight-normal: 400
    --weight-bold: 500
    --weight-logo: 500

    --size-normal: 15px
    --size-logo: 22px
    --size-title: 22px
    --size-subtitle: 17px
    --size-caption: 13px

$family-normal: var(--font-family-normal)
$family-logo: var(--font-family-logo)

$weight-normal: var(--weight-normal)
$weight-bold: var(--weight-bold)
$weight-logo: var(--weight-logo)

$size-normal: var(--size-normal)
$size-logo: var(--size-logo)
$size-title: var(--size-title)
$size-subtitle: var(--size-subtitle)
$size-caption: var(--size-caption)
