@use "Assets/colors.sass"
@use "Assets/dimensions.sass"
@use "Assets/transitions.sass"

.item
    border: 1px solid colors.$background-secondary
    border-radius: dimensions.$border-radius
    padding: 10px 14px
    transition: transitions.$default
    position: relative
    overflow: hidden

.progress
    position: absolute
    top: 0
    left: 0
    bottom: 0
    z-index: -1
    background-color: colors.$background-secondary
    transition: width 0.1s ease-in-out
